@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial;
    background-color: #f7f7f7;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 350px;
}
h2 {
    font-size: 24px;
    margin: 0 0 50px;
    text-align: center;
}
.info {
    font-weight: 600;
}
#balance {
    font-size: 32px;
    font-weight: 600;
}
.tracker {
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0.5px 0.5px 4px 1px grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.border {
    width: .5px;
    height: 48px;
    background: #7777;
}

.income, .expense {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.income_text, .expense_text {
    font-weight: 600;
}
.income_summa_text, .expense_summa_text {
    font-size: 20px;
}
.income_summa_text {
    color: #2ecc71;
}
.expense_summa_text {
    color: #c0392b;
}

.history, .transaction {
    font-weight: 600;
    margin: 20px 0 10px;
    padding: 0 0 10px;
    font-size: 18px;
    border-bottom: 1px solid #7777;
}

.expenses_products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px;
    padding: 10px;
    color: #333333;
    box-shadow: 0px 0.5px 3px 1px grey;
}
#products_text {
    position: relative;
}

.spended {
    border-right: 5px solid #c0392b;
}
.earned {
    border-right: 5px solid #2ecc71;
}

.cancel {
    position: absolute;
    background: #c0392b;
    padding: 1px 5px;
    left: 578px;
    opacity: 0;
    color: white;
    cursor: pointer;
    transition: all .5s;
}

.what_label, .amount_text {
    margin: 10px 0;
    display: block;
}
.amount_text {
    margin-top: 0px;
}

#what, #amount {
    padding: 10px;
    border: 1px solid #7777;
    font-size: 16.5px;
    outline: none;
    margin: 3px 0;
    border-radius: 3px;
}
#what {
    margin: 0 0 7px;
}

#btn {
    margin: 10px 0 30px;
    padding: 10px;
    background-color: #9c88ff;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    border-radius: 1.5px;
    cursor: pointer;
}

#historyExpense {
    /* max-height: 110px; */
    /* overflow: auto; */
}